/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

/* ----- */

:root {
    font-size: 62.5%;

    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

/* MOBILE FIRST */

body {
    font-size: 1.8rem;
    font-family: 'Epilogue', sans-serif;
    width: 32.0rem;
    margin: 0 auto;
}

.allPage {
    margin: 2rem 0;
}

.navigation {
    display: flex;
    justify-content: center;    /* Alternative to keep similar to the original project. */ 
    align-items: center;
    gap: 18rem;     /* Alternative to keep similar to the original project. */ 
    margin-bottom: 2rem;
}

.firstMenu {
    display: none;
}

.mobileMenu {
    cursor: pointer;
}

.secondMenu {
    display: none;
}

.section-1 {
    margin-bottom: 4rem;
}

.imageHeroMobile {
    width: 100%;
}

.imageHeroDesktop {
    display: none;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 2rem;
}

.text {
    color: var(--medium-gray);
    font-size: 1.6rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 3rem;
}

.button {
    text-align: center;
    background-color: var(--almost-black);
    color: var(--almost-white);
    width: fit-content;
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: 5rem;
}

.button:hover {
    background-color: var(--almost-white);
    color: var(--almost-black);
    border: 1px solid black;
    transition: all 300ms;
}

.advImagesAll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.advImages {
    width: 20%;
}

.audiophile {
    width: 15%;
}

footer {
    text-align: center;
    line-height: 1.5rem;
}

.textFooter-p {
    font-size: 1.2rem;
    color: var(--medium-gray);
}

.textFooter-a {
    font-size: 1.2rem;
    color: var(--almost-black); 
}

.textFooter-a:hover {
    font-weight: 700;
    transition: all 300ms;
}

.mobileSection {
    display: block;
}

.ms-dropdown {
    position: relative;
    margin-bottom: 3rem;
}

.ms-dropdown a {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--medium-gray);
}

.ms-dropdownFeatures {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.ms-dropdownFeatures img {
    margin-right: 2rem;
}

.ms-dropdownFeatures a, .ms-dropdownCompany a {
    margin-bottom: 2rem;
    color: var(--medium-gray);
} 

.ms-dropdownCompany {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.ms-secondMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ms-secondMenu .ms-dropdown {
    /* margin-top: 2rem; */
}

.ms-secondMenu .ms-register {
    border: 2px solid var(--medium-gray);
    border-radius: 1.5rem;
    padding: 1rem 2rem;
}

.modal {
    width: 32rem;
    height: 100%;
    /* top: 0;
    left: 0; */
    background-color: rgba(52, 52, 50, 0.749);
    
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.open {
    position: absolute;
    opacity: 1;
    visibility: visible;

    width: 20rem;
    background-color: var(--almost-white);
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin-left: 12rem;
    padding: 2rem;
}

.bgBody {
    background-color: rgba(52, 52, 50, 0.749);
}

.closeMobileMenu {
    
}

/* DESKTOP VERSION */

@media (min-width: 1300px) {
    body {
        width: 120rem;
        height: 100vh;
    }

    .navigation {
        justify-content: space-between;
        align-items: flex-start;
    }

    .wrapperLogoFirstMenu {
        display: flex;
        align-items: flex-start;
        gap: 5rem;
    }

    header ul {
        display: flex;
        gap: 3rem;
    }

    header ul li a {
        color: var(--medium-gray);
    }

    header ul li a:hover {
        color: var(--almost-black);
    }

    .firstMenu {
        display: block;
    }

    .dropdown {
        position: relative;
        margin-bottom: 0.5rem;
    }

    .dropdownFeatures {
        background-color: rgb(255, 254, 254);
        border-radius: 2rem;
        box-shadow: 0 0 15px 10px rgba(0,0,0,0.1);
        padding: 2rem;
        display: none;
        position: absolute;
    }

    .dropdownFeatures a {
        display: block;
        color: var(--medium-gray);
        padding: 0.5rem;
        font-size: 1.6rem;
    }

    .dropdownFeatures img {
        margin-right: 1rem;
    }

    .wrapDropdownFeatures:hover .dropdownFeatures {
        display: block;
    }

    .dropdownCompany {
        background-color: rgb(255, 254, 254);
        border-radius: 2rem;
        box-shadow: 0 0 15px 10px rgba(0,0,0,0.1);
        padding: 2rem;
        display: none;
        position: absolute;
    }

    .dropdownCompany a {
        display: block;
        color: var(--medium-gray);
        padding: 0.5rem;
        font-size: 1.6rem;
    }

    .wrapDropdownCompany:hover .dropdownCompany {
        display: block;
    }

    .secondMenu {
        display: flex;
    }

    .secondMenu .register {
        border: 2px solid var(--medium-gray);
        border-radius: 1.5rem;
        padding: 1rem 2rem;
    }

    .secondMenu .register:hover {
        border: 2px solid var(--almost-black);
    }

    .mobileMenu {
        display: none;
    }

    .main {
        width: 100rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10rem;
        margin: 0 auto; /* To center all the box. */
    }

    .imageHeroMobile {
        display: none;        
    }

    .imageHeroDesktop {
        display: block;
        width: 90%;        
    }

    .section-2 {
        align-items: flex-start;    /* To align the button to left. */
    }

    .title {
        font-size: 6.7rem;
        /* text-align: left; */
        margin-bottom: 4rem;
        margin-top: 14rem;
    }

    .text {
        font-size: 3.2;
        text-align: left;
        margin-bottom: 5rem;
    } 

    .button {
        margin-bottom: 8rem;
    }

    .advImagesAll {
        gap: 3rem;
        margin-bottom: 10rem;
    }   

    footer {
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    .textFooter-p {
        font-size: 1.4rem;
        /* margin-bottom: 0.5rem; */
    }
    
    .textFooter-a {
        font-size: 1.4rem;
    }

    .mobileSection {
        display: none;
    }
}
